<h1 class="navbar">Your Decks</h1>

<div class="decks">
	<% if @decks.nil? %>
	  You don't have any decks.
  <% else %>
		<table id="user-decks" class="navbar"><%= render :partial => 'decks/deck', :collection => @decks %></table>	 
  <% end %>
</div>

<%= render :partial => 'decks/create_deck', :locals => { :deck => @deck } %>
