/*----------------------GENERIC STYLE------------------*/
	a {
		text-decoration:none;
		color:black;
	}	
	
/*----------------------SITE WIDE------------------*/	
	#authentication {
		pointer-events:auto;
		position:absolute;
	}
	
	#container-custom {
		width:1000px;
		height:100%;
		margin:0 auto;
		position:relative;
	}
	
	.flash {
		float:right;
	}
	


/*----------------------SIDE BAR SLIDE EDIT PAGE------------------*/
	#left-nav-bar {
		background-color: #20272a;
	  background-image: -moz-linear-gradient(top, #364147, #0a0c0d);
	  background-image: -ms-linear-gradient(top, #364147, #0a0c0d);
	  background-image: -o-linear-gradient(top, #364147, #0a0c0d);
	  background-image: -webkit-linear-gradient(top, #364147, #0a0c0d);
	  background-image: linear-gradient(top, #364147, #0a0c0d);
		height:3000px;	
		width:250px;
		border-right:6px solid #51C4dD;
		border-bottom-left-radius:6px;
		-webkit-box-shadow:-3px 1px 8px 7px #777;
		margin-right:50px;
	}
		
	#slide-interface {
		margin-top:15px;
		margin-left:20px;
		z-index:101;
		padding-bottom:10px;
		pointer-events: auto;
		width:200px;
	}
	
	#slide-list{
		margin:0 0 0 25px;
		width:250px;
		padding:0px !important;
		pointer-events:all;
	}
	
	#slide-list a{
		cursor: pointer;
	}
	
	#slideDeckButtons {
		list-style:none;
		display:inline;
		margin-left:10px;
	}
	
	#slideDeckButtons li {
		float:left;
		margin-left:25px;
	}

	
	#decorate-button {
		padding-bottom:2px;
		padding-left:5px;
	}
		
	.button {
		background-color: #e9e9e9; 
		text-align: center;
		color: #333;
		text-decoration: none;
		font-weight: bold;
		font-size: .9em;
		line-height: 1;
		font-family: Tahoma, Geneva, sans-serif;
		position: relative;
		cursor: pointer;
		border: none;
		outline: none;
		margin: 0;
		padding:10px;
		border-radius:2px 2px;
		
	}
	
	/*li.button:hover {
			background-color:#ececec;
		}
		*/
	
/*----------------------SLIDE EDITOR------------------*/		
	#inline-editor {
		outline: none;
		border: none;
		padding-left: 8px;
		padding-top: 8px;
	}

/*----------------------IMPRESS OVERRIDES------------------*/	
	.custom-wrapper {
		width:200px;
	}
	
	.custom-active {
		opacity: 1.0;
	}
	
	.custom-step { 
		width: 900px;
		height:600px;
    padding: 40px 30px 60px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.0;
	}
	
	.custom-step {
	  -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
		margin-bottom:20px;
	}

	.custom-step:not(.custom-active) {
	 	opacity: 0.3;
	}
	
	.editable {
		font-family:Arial,Helvetica,sans-serif !important;
		font-size: 50px !important;
		padding: 50px !important;
		line-height: 1em !important;
		word-wrap:break-word;
		overflow-wrap:normal;
	}
	
	textarea {
		font-family:Arial,Helvetica,sans-serif !important;
		letter-spacing: -1px !important;
		margin-top: -8px !important;
		margin-left: -8px !important;
		width: 800px !important;
		height: 500px !important;
		font-size: 50px;
		line-height: 1em !important;
	}
	
/*----------------------NAV BAR------------------*/

	.navbar {
		border-radius: 2px;
		float:left;
		padding-top:15px;
		padding-bottom:5px;
		bottom:12px;
		padding-left:10px;
		background: rgb(235,235,235);
		width:100%;
		position:relative;
	}
	
	
	#preview-button {
		border: 1px solid black;
		border-radius: 2px;
		font-size: 17px;
		right:0%;
	}
	
 #impress-button {
		border: 1px solid black;
		border-radius: 2px;
		font-size: 30px;
		padding: 12px;
		padding-left: 18px;
		padding-right: 18px;
		float: right;
		margin-right: 1%;
		bottom: 10px;
		pointer-events: auto;
		margin-left: 0;
	}
	
	#menu-right {
		float: right;
		margin-top: 3px;
		margin-right: 15px;
	}
	
	#preview-mode {
		display:none;
	}
	
	#format-button {
		background:none;
		-webkit-transition:background-color .3s linear;
	}
	
	#format-button:hover {
		border:none;
		background:#08C;
	
	}
	
	.selectors {
/*		background-color: #5178AD;*/
/*		border-radius: 4px;*/
/*		border: 1px solid;*/
		padding-left: 20px;
		padding-right: 20px;
/*		width: 220px;
		height: 40px;
		margin-left: 80%; */
		line-height: 2.5em;
		text-align: center;
		float: left;
		margin-right: 20px;
		margin-top: -2px;
	}
	
	.temp_dropdown {
		pointer-events: auto;
		margin-right: 25px;
	}
	
	.size_dropdown {
		pointer-events: auto;
	}

  .ux_button {
    border: 1px solid;
    border-radius: 2px;
    font-size: 15px;
    float: left;
  }

	.slide-nav {
		cursor:pointer;
		position:absolute;
		opacity:0.1;
		background-color:none;
		border:none;
		-webkit-transition:opacity .5s linear;
	}
	
	.slide-nav:hover {
		opacity:1.0;
	}
	
	.alter{
		opacity:0.6;
		-webkit-transition:opacity .1s linear;
		-webkit-transition:color .35s linear;
		-webkit-transition:background-color .1s linear;
		font-size:17px;
		margin:4px;
	}
	
	.alter:hover{
		opacity:1;
		background-color:black;
		color:white;
		border:1px solid black;
	}
	
	.nav-button {
		padding:15px;
		bottom:5px;
		border:1px solid;
		font-size:24px;
	}
	
	#next {
		top:49%;
		left:95%;
	}
	
	#prev {
		top:49%;
		right:95%;
	}
	
	#saved {
		bottom:0;
		top:55%;
		right:6%;
		font-weight:900;
		font-size:20px;
	}
	
	select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    -webkit-padding-end: 5px;
    -webkit-padding-start: 0px;
    -webkit-linear-gradient:(#E1E1E1, #FFF 30%, #FFF);
  	-webkit-appearance: menulist;
		box-sizing: border-box;
		-webkit-box-align: center;
    font-size: 90%;
    margin: 5px;
		margin-top:15px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 2px;
	 	padding-left: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height:25px; 
	 	outline:none;
	 	border:1px solid black;
	 }

	.edit-button {
		border: 1px solid;
		border-radius: 2px;
		font-size: 30px;
		padding: 12px;
		padding-left:18px;
		padding-right:18px;
		float: right;
		margin-right: 1%;
		bottom: 10px;
		pointer-events: auto;
	}

	
/*----------------------TABLE FORMATTING ------------------*/

#user-decks {
/*	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
        width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;*/
	border-radius: 2px;
	float:left;
	padding-top:15px;
	padding-bottom:5px;
	bottom:12px;
	padding-left:10px;
	background: rgb(235,235,235);
	width:100%;
	position:relative;
}
/*#user-decks td, #user-decks th {
	padding: 5px;
	color: #333;
}*/

#user-decks table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#user-decks thead {
	padding: .2em 0 .2em .5em;
	text-align: left;
/*	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;*/
}
#user-decks th {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;
}
#user-decks td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

.deck-header {
  text-align: center;
}

.deck-name {
  font-size: 32px;
}

.deck-preview {
  font-size: 20px;
}

h1 {
	font-family:Arial,Helvetica,sans-serif !important;
	letter-spacing: -1px !important;
	margin-top: -8px !important;
	margin-left: -8px !important;
/*	width: 800px !important;
	height: 500px !important;*/
	font-size: 50px !important;
	line-height: 1em !important;
}

.hint {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 200px;
  background: rgba(0,0,0,0.5);
  color: #EEE;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  z-index: 200;
	pointer-events:auto;
  opacity: 0;
	line-height:1.1em;

  -webkit-transform: translateY(400px);
  -moz-transform:    translateY(400px);
  -ms-transform:     translateY(400px);
  -o-transform:      translateY(400px);
  transform:         translateY(400px);

  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
  -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
  -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
  transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-on-step-1 .hint {
  opacity: 1;

  -webkit-transition: opacity 1s .5s, -webkit-transform 0.5s;
  -moz-transition:    opacity 1s .5s,    -moz-transform 0.5s;
  -ms-transition:     opacity 1s .5s,     -ms-transform 0.5s;
  -o-transition:      opacity 1s .5s,      -o-transform 0.5s;
  transition:         opacity 1s .5s,         transform 0.5s;

  -webkit-transform: translateY(0px);
  -moz-transform:    translateY(0px);
  -ms-transform:     translateY(0px);
  -o-transform:      translateY(0px);
  transform:         translateY(0px);
}

.button-message {
	background-color: #E9E9E9;
	text-align: center;
	color: #444;
	text-decoration: none;
	line-height: 2em;
	font-family: Tahoma, Geneva, sans-serif;
	outline: none;
	margin: 0;
	border-radius: 2px;
	font-size: 35px;
	padding: 5px;
}

.circle {
	z-index:100;
	background-color:rgba(0, 150, 220, 0.6);
	height: 450px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 225px;
	width: 450px;
	position: relative;
	left: 60%;
	margin-top: 100px;
}

#separator {
	border-top:1px solid white;
	width:260px;
	height:80px;
	margin-left:95px;
	margin-top:200px;
	position:absolute;
}

h2.title {
	font-family: 'Satisfy', cursive;
	font-size:98px;
	margin-left:65px;
	margin-top:80px;
	position:absolute;
	text-shadow:0px 0px 1px white;
	color:white;
	font-weight:bold;
}

#create {
	text-align:center;
	color:white;
	margin-left:10px;
	margin-top:20px;
	position:absolute;
	font-size:28px;
	letter-spacing:1px;
	line-height:1.2em;
}

.opaque {
	opacity: 0.1;
	-webkit-transition:opacity 2s linear;
}

.opaque.active {
	opacity:1;
}

.splash-button {
	text-align:center;
	position: absolute;
	margin-left: 34px;
	margin-top: 105px;
	border-radius:4px;
	background-color: white;
	padding:15px;
	font-size:32px;
	color: #4A4F52;
	border-bottom:1px solid white;
	width:200px;
	border:1px solid #ccc;
	
	/*Gradient*/
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

  /*Shadow*/
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);

  /*Transition*/
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.splash-button:hover {
  background-color: #E4EFF5;
}

ul li {
	float:left;
}

.creators-footer {
	margin-top: 120px;
	color: #DDD;
}

.creators-footer a {
}

.create-button {
	font-size: 24px;
}
	
.button-message {
	background-color: #E9E9E9;
	text-align: center;
	color: #444;
	text-decoration: none;
	line-height: 1.2;
	font-family: Tahoma, Geneva, sans-serif;
	outline: none;
	margin: 0;
	border-radius: 2px;
	font-size: 35px;
	padding: 5px;
}

.ux-helper {
	float: left;
	margin-top: 6px;
	line-height: 2.5em;
	text-align: center;
}

.ux-helper .keyboard {
	background-color: #CCC;
	padding: 3px;
	border-radius: 2px;
}

h2.edit-title {
	font-family: 'Satisfy', cursive;
	font-size:28px;
	margin-left:12px;
	margin-top:10px;
	margin-right: 25px;
	text-shadow:0px 0px 1px white;
	color: #6E7375	;
	font-weight:bold;
	float: left;
}

/*--------------FORMATTING HELPER--------------*/
.format-helper {
	display:none;
	float:right;
	background: white;
	border: 1px solid #AAA;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	z-index: 100;
	color: #333;
	width: 180px;
	margin-right:9px;
	margin-top:-22px;
	z-index:110;
	position:relative;
	border:1px solid #08C;
}

table {
	border-collapse: collapse;	
	border-spacing: 0;
}

.shortcut {
	max-width: 110px;
	padding:8px;
	border-bottom: 1px solid #AAA;
}

.description {
	margin-right:50px;
	max-width: 100px;
	padding:10px;
	background: #EFEFEF;
	border-bottom: 1px solid #AAA;
}
