<li>
<%= deck.name %> <%= link_to "Show", deck_path(deck) %> <%= link_to "Edit", edit_deck_path(deck) %> <%= link_to "Delete", deck_path(deck), :confirm => "Are you sure?", :method => :delete %>
</li>