<a id='prev' class='slide-nav ux_button prev_slide' style="pointer-events: auto">
  <%= image_tag 'arrow_left.png' %>
</a>

<a id='next' class='slide-nav ux_button next_slide' style="pointer-events: auto">
  <%= image_tag 'arrow_right.png' %>
</a>