<div class='format-helper'>
	<table>
		<tbody>
			<tr>
				<td class='description'>markdown bold</td>
				<td class='shortcut'>*<em>word</em>*</td>
			</tr>
			<tr>
				<td class='description'>markdown italics</td>
				<td class='shortcut'>_<em>word</em>_</td>
			</tr>
		</tbody>
	</table>
</div>