<div class='format-helper'>
	<table class='formatting'>
		<tbody>
			<tr>
				<td class='description'>markdown bold</td>
				<td class='shortcut'>*<em>word</em>*</td>
			</tr>
		</tbody>
	</table>
</div>