<div class='navbar'>
  <a class='ux_button button add_slide alter' style="pointer-events: auto;">
    Add step
  </a>

  <a class='ux_button button delete_slide alter' style="pointer-events: auto">
    Remove step
  </a>

 	<div id='impress-button' class='button alter' style="pointer-events: auto">Impress!</div>
	
	<div class='temp_selector'>
		<select class='temp_dropdown'>
      <% template_data.each_with_index do |template, i| %>
			  <option value='<%= template[:template_id] %>' name='<%=template[:name] %>'<%= " selected='selected'" if deck.template_id == (i + 1) %>><%= template[:name] %></option>
		  <% end %>
		</select>
	</div>
	<span id='saved'>presentation saved</span>
</div>
