<div class='navbar'>
  <div class='ux_button button add_slide' style="pointer-events: auto">
    +
  </div>
  <div class='ux_button button delete_slide' style="pointer-events: auto">
    -
  </div>
  <div class='ux_button button prev_slide' style="pointer-events: auto">
    <
  </div>
  <div class='ux_button button next_slide' style="pointer-events: auto">
    >
  </div>
	<div class='temp_selector'>
		Template:
		<select class='temp_dropdown'>
			<% template_data.each_with_index do |template, i| %>
			  <option value='<%= template[:template_id] %>' name='<%=template[:name] %>'<%= " selected='selected'" if i == 0 %>><%= template[:name] %></option>
		  <% end %>
		</select>
	</div>
	<div id='impress-button' class='button' style="pointer-events: auto">Impress!</div>
</div>
