<%= render :partial => "template_selector", :locals => {:template_data => @template_data, :deck => @deck} %>
<%= render :partial => "decks/edit_nav" %>

<div id='container-custom'>
	<div id='impress' class='seven columns' deck_id="<%= @deck.id %>" data-mode = 'edit' style='z-index:-1'>
	</div>
</div>

<script src="/pickle.js"></script>
