<%= render :partial => "formatting_bar", :locals => {:template_data => @template_data, :deck => @deck} %>
<%= render :partial => "decks/edit_nav" %>	

<div id='container-custom'>
	<div id='impress' class='seven columns' deck_id="<%= @deck.id %>" data-mode = 'edit' style='z-index:-1'></div>
</div>

<% unless user_signed_in? %>
	<div class='hint'>
		<span style='font-size:65px'><b>Welcome</b></span>
		<p>To start editing, press <span class='button-message'>enter</span>.&nbsp;
			When you're done, press <span class='button-message'>esc</span>.&nbsp;
			You can use the arrows or <span class='button-message'>spacebar</span> to move between slides. 
			For more shortcuts, click Help in the top right corner</p>
	</div>
<% end %>

<script src="/pickle.js"></script>
