<h1>New Deck</h1>

<div style='pointer-events:auto;'>
	<%= simple_form_for @deck do |f| %>
		<% if user_signed_in? %>
			<%= f.hidden_field :user_id, :value => current_or_guest_user.id %>
		<% end %>
	  <%= f.button :submit, "Create a deck!" %>
	<% end %>
</div>
